*:focus,
button:focus,
input:focus,
*,
input,
button,
*:active,
input:active,
button:active,
option {
  outline: none !important;
  outline: 0 !important;
}

html {
  margin: 0 auto;
  background-color: $white;
}

body,
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    @extend %link-inhert;
    font-style: normal;
    font-weight: inherit;
    text-decoration: none;
    padding: 0;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

a {
  @extend %link-inhert;
  font-style: normal;
  font-weight: inherit;
  text-decoration: none;
  padding: 0;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ol,
ul {
  li {
    margin-bottom: 10px;
  }
}

img {
  max-width: 100%;
}

label {
  margin-bottom: 0;
}

.bold,
b,
strong {
  font-weight: 700;
}

a {
  transition: .25s all;

  &:hover {
    transition: .25s all;
  }
}
