.btn {
  margin: 0;
  display: inline-block;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  cursor: pointer;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  border-radius: $btn-border-radius;
  min-width: 237px;
  @include hover {
    // color: $body-color;
    text-decoration: none;
  }
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;

  &:hover,
  &:focus {
    color: $white;
    background-color: $black;
    border-color: $black;

    a {
      text-decoration: none;
    }
  }
}

.btn-outline-primary {
  @include button-outline-variant($blue);
}

.btn-dna {
  color: $blue;
  background-color: $white;
  border-color: $white;
  font-size: 1rem;
  &:hover,
  &:focus {
    color: $white;
    background-color: $black;
    border-color: $black;

    a {
      text-decoration: none;
    }
  }
}

@include media-breakpoint-up(xl) {
  .btn-dna {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
}

// .text-center {
//   .btn {
//     margin: 0 5px 10px;
//   }
// }
