/* font-family other */
$lt: "Jost", serif;
$slick: "slick";
$icomoon: "icomoon";

/* font-family body */
$font-family-base: $lt;

/* set screen */

// variables gird
$col-xs: 0;
$col-sm: 376px;
$col-md: 769px;
$col-lg: 1025px;
$col-xl: 1367px;
$col-xxl: 2000px;

// variables max widths
$media-sm: 100%;
$media-md: 100%;
$media-lg: 100%;
$media-xl: 100%;
$media-xxl: 1900px;

/* class bootstrap helper (d-md-none d-lg-none) */
$grid-breakpoints-custom: (xs: 0, md: $col-md, lg: $col-lg);
$grid-breakpoints-mb: (xs: 0);
$grid-breakpoints-dt: (md: $col-md, lg: $col-lg);

/* class media bootstrap reponsive helper @include media-breakpoint-up(xl) */
$grid-breakpoints-media: (xs: $col-xs, sm: $col-sm, md: $col-md, lg: $col-lg, xl: $col-xl, xxl: $col-xxl);

/* class gird (col-md-6, container max-width) */
$grid-breakpoints: (xs: $col-xs, sm: $col-sm, md: $col-md, lg: $col-lg, xl: $col-xl, xxl: $col-xxl);
$container-max-widths: (sm: $media-sm, md: $media-md, lg: $media-lg, xl: $media-xl, xxl: $media-xxl);

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

/* Color system */

$white: #fff !default;
$gray-100: #ebebeb !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: (
100: $gray-100,
200: $gray-200,
300: $gray-300,
400: $gray-400,
500: $gray-500,
600: $gray-600,
700: $gray-700,
800: $gray-800,
900: $gray-900) !default;

$blue: #bb1522 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #eee2cf !default;
$red: #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #b47e2a !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #0062b0 !default;
// $color-006: #0062b0;
// $color-d5 : #d5b28d;
// $color-86: #8691a4;
// $color-e4: #e4e4e4;
// $color-2f: #2f4eea;
// $color-14: #146db3;
$colors: (blue: $blue,
indigo: $indigo,
purple: $purple,
pink: $pink,
red: $red,
orange: $orange,
yellow: $yellow,
green: $green,
teal: $teal,
cyan: $cyan,
white: $white,
gray: $gray-600,
gray-dark: $gray-800
) !default;

$theme-colors: (primary: $blue,
secondary: $yellow,
success: $green,
info: $cyan,
warning: $yellow,
danger: $red,
light: $gray-100,
dark: $gray-800,
pink: $pink
) !default;


/* body */
$body-bg: $white !default;
$body-color: $gray-900 !default;

/* color heading */
// set color for heading
$color-h: $body-color;

/* color custom */

/* link */

$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Paragraphs
$paragraph-margin-bottom: 1rem;

// Options
$enable-rounded: false !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Components

$border-width: 2px !default;
$border-color: $yellow !default;
$border-radius: 29px !default;
$caret-width: .3em !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;

/* btn custom */

$btn-font-weight: 600 !default;
//$btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
//$btn-focus-box-shadow:           0 0 0 3px rgba(theme-color("primary"), .25) !default;
//$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;
$btn-link-disabled-color: $gray-900 !default;
$btn-border-radius: 29px !default;
$btn-transition: .25s all !default;
// $border-color: $gray-100;


/* font size */

@function rem($pixels, $context: 16) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

$font-b: 18;
$fontpx: 18px;

/* set style body */

$font-size-base : rem($font-b);
$line-height-base : 28/$font-b !default;
$font-weight-base : 400;

$font-size-base: $fontpx !default; // Assumes the browser default, typically `16px`

/* font heading */

$h1-font-size : rem(50);
$h2-font-size : rem(30);
$h3-font-size : rem(24);
$h4-font-size : rem(20);
$h5-font-size : rem(18);
$h6-font-size : rem(14);

/* heading custom */

$headings-margin-bottom: 1rem !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.3 !default;
$headings-color: inherit !default;

/* .form-control */

$input-btn-padding-y: rem(15);
$input-btn-padding-x: rem(20);
$input-btn-line-height: 1.2;
$input-color: $color-h;
$input-bg: $body-bg;
$input-btn-border-width: 1px;
$input-border-color: #212529;
$input-border-radius: 29px;
$input-placeholder-color: $gray-900;
$input-disabled-bg: $gray-100;

/* .breadcrumb */

$breadcrumb-padding-y: rem(1);
$breadcrumb-padding-x: rem(0);
$breadcrumb-bg: $white;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: 8px !default;
$btn-padding-x: 10px !default;
// $btn-font-family:             $input-btn-font-family !default;
$btn-font-size: rem(14)!default;
$btn-line-height: rem(20px) !default;

$btn-border-width: 2px !default;

$card-spacer-y: 0 !default;
$card-spacer-x: 0 !default;
$card-border-width: 0 !default;
// $card-border-radius:                $border-radius !default;
// $card-border-color:                 rgba($black, .125) !default;
// $card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg: transparent !default;
// $card-cap-color:                    null !default;
// $card-color:                        null !default;
// $card-bg:                           $white !default;