.content-left {
  h1, p {
    text-align: left;
  }
}

.image-right {
  position: relative;
  padding-bottom: 73%;
  .img-big {
    @include position(absolute, 0, 0, 0, 0, 0);
  }
  .img-small {
    @include position($type: absolute, $bottom: -45px);
    max-width: 178px;
    transition: all .25s;
  }
}

