.adn-icon {
  width: 42px;
}

.bg-featured {
  @include position(absolute, 0, 0, 0, 50%);
}

.bg-featured-left {
  left: 0;
  right: 50%;
}

.genesisgene {
  padding-top: 50px;
  padding-bottom: 50px;
}