.industry-card {
  margin-top: 32px;
  transition: all .2s;
}

.industry-item {
  padding-bottom: 300px;
  overflow: hidden;
  h3 {
    color: $white;
  }
}

.industry-shiled {
  max-width: 120px;
}

.industry-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  &::after {
    content: "";
    width: 72px;
    height: 3px;
    background-color: $blue;
    @include position($type: absolute, $bottom: 40px, $left: 30px, $index: -1);
    transition: all .35s;
  }
}

.industry-item:hover {
  .industry-content::after {
    // right: 0;
    width: 100%;
  }
}