@include media-breakpoint-up(lg) {
  .footer-menu {
    .sub-menu {
      display: block;
    }
  }
}

@include media-breakpoint-up(xl) {
  .footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
