@include media-breakpoint-up(xl) {
  .main-menu-ul {
    padding: 0;
    width: 100%;

    >li {
      // text-transform: uppercase;
      font-size: 1em;
      color: $black;
      min-width: 175px;
      
      >a:not(.btn) {
        padding: 18px 15px;
        text-align: center;
      }
      >a.btn {
        margin-top: 12px;
      }
      &:hover {
        color: $blue;
        outline: 1px solid $blue;
        .main-menu-dropdown {
          display: block;
        }
      }
    }

    .mega-dropdown {
      position: static;
    }
  }

  .main-menu-dropdown {
    min-width: 200px;
    width: 100%;
    margin: 0;
    font-size: 1em;
    border: none;
    background-color: $white;
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);

    .menu-child {
      display: block;
    }
  }

  .navbar {
    position: static;
  }
}

@include media-breakpoint-up(xl) {
  .main-menu-ul>li {
    >a:not(.btn) {
      padding: 22px 25px;
    }
    .sub-menu {
      background-color: $blue;
      color: white;
      @include position(absolute, $top: 65px, $left: 0, $right: 0);
      > .menu-item {
        a {
          border-bottom: none;
        }
      }
    }
  }
}
