@include media-breakpoint-up(md){
  .content-left {
    p {
      text-align: center;
    }
  }
}

@include media-breakpoint-up(md){
  .content-left {
    p {
      text-align: left;
      padding-left: 127px;
      padding-right: 127px;
    }
  }
  .image-right {
    .img-small {
      max-width: 320px;
    }
  }
}

@include media-breakpoint-up(lg){
  .content-left {
    p {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .image-right {
    padding-bottom: 40%;
    .img-small {
      left: -70px;
      max-width: 178px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .image-right {
    .img-small {
      left: -175px;
      max-width: 320px;
    }
  }
}
