@include media-breakpoint-up(lg) {
  .mod-genesisgene-call-out {
    .content {
      width: 50%;
    }
  }
  .genesisgene {
    padding-top: 155px;
    padding-bottom: 155px;
  }

  .content-right {
    padding-left: 100px;
    margin-left: auto;
  }
}

@include media-breakpoint-up(xl) {
  .genesisgene {
    padding-left: 180px;
    padding-right: 180px;
  }
}