@include media-breakpoint-up(730){
  .industry-item {
    padding-bottom: 400px;
  }
}

@include media-breakpoint-up(md){
  .mod-industries {
    padding: 0 50px;
  }
  .industry-item {
    padding-bottom: 300px;
  }
}

@include media-breakpoint-up(lg){
  .mod-industries {
    padding: 0 100px;
  }
}

@include media-breakpoint-up(xl){
  .mod-industries {
    padding: 0 0 0 200px;
  }
  .industries-title {
    width: 50%;
    margin: 0;
  }
}
