.footer {
  padding-top: 80px;
  color: $white;
  font-weight: 600;
  @extend %parent-link-inhert;
  a:hover {
    color: $black;
  }
}

.footer-logo {
  max-width: 281px;
}

.footer-logo2 {
  max-width: 218px;
  @include position(absolute, $right: 0, $top: -53px);
}

.footer-menu {
  ul, li {
    list-style: none;
  }
  .sub-menu {
    margin-top: 20px;
    display: none;
    padding: 0;
    font-weight: 400;
  }
  .menu-item {
    margin-bottom: 25px;
    font-size: 1.3rem;
  }
  .wraper-address {
    li {
      margin-bottom: 25px;
    }
  }
}

.footer-copyright {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1rem;
  @extend %parent-link-inhert;
}
