.header {
  @include position(absolute, 0, 0, null, 0, 9999);
  @extend %add-tr;
  background-color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  &.pin-header {
    position: fixed;
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);
  }
  &:not(.is-open-menu) {
    &::after {
      content: "";
      @include position(absolute, $top: 103px, $right: -1000px, $bottom: 0, $left: -1000px, $index: -1);
      background-color: $blue;
      min-height: 0;
    }
  }
  &::after {
    content: "";
    @include position(absolute, $top: 103px, $right: -1000px, $bottom: 0, $left: -1000px, $index: -1);
    background-color: $blue;
    min-height: calc(100vh);
  }
}

.header-logo {
  width: 100%;
  max-width: 150px;
}

@include media-breakpoint-down(xl) {
  .header {
    .navbar {
      display: block;
    }
  }

  .header-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;

    .col-mb-4,
    .col-mb-8 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .col-mb-8 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-mb-4 {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: right;
    }
  }

  html.is-open-menu,
  html.is-open-menu body {
    overflow: hidden;
    height: 100%;
  }

  html.is-open-menu {
    body {
      @include position(absolute, 0, 0, null, 0, null);
    }

    .header {
      bottom: 0;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .header {
    // position: absolute;
  }
}
