.main-menu {
  ul {
    list-style: none;
  }
  
  .sub-menu {
    >.menu-item {
      font-weight: 500;
      font-size: 1rem;
      a {
        padding: 20px;
        border-bottom: 1px solid $black;
      }
    }
  }
}

.main-menu-ul {
  padding: 1.5em 0;
  ul {
    padding-left: 0;
  }
  .row>ul,
  .menu-child {
    padding-left: 15px;
  }
  >li {
    font-size: 1.2rem;
    font-weight: 600;
    color: $white;
    >a:not(.btn) {
      position: relative;
      padding: 15px 0;
      &::after {
        content: "";
        @include position(absolute, $top: 0, $left: 50%, $right: 50%);
        height: 1px;
        background-color: $blue;
        transition: all .2s;
      }
      &::before {
        content: "";
        @include position(absolute, $bottom: 0, $left: 50%, $right: 50%);
        height: 1px;
        background-color: $blue;
        transition: all .2s;
      }
    }
    &:not(.is-open-child) {
      .sub-menu {
        display: none;
      }
    }
    &:not(.menu-item-has-children) {
      .nav-item-arrows {
        display: none;
      }
    }
    &:hover {
      >a:not(.btn)::after,
      >a:not(.btn)::before {
        left: 0;
        right: 0;
      }
    }
  }
  li {
    margin: 0;
    position: relative;
    color: $white;
    line-height: 1.2em;
    a:not(.btn) {
      display: block;
      color: inherit;
      text-decoration: none;
    }
    &:hover,
    &.active {
      color: $black;
    }
  }
}

.main-menu-dropdown {
  border: none;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  font-size: 1em;
  .container {
    padding: 0;
  }
  .nav-item-arrows {
    top: -5px;
  }
  ul {
    li {
      color: $gray-900;
    }
    a {
      padding: 10px 15px;
    }
  }
  li {
    text-transform: none;
    font-size: .85em;
    li {
      text-transform: none;
    }
  }
  .menu-child {
    display: none;
  }
  .is-open-menu-child {
    .menu-child {
      display: block;
    }
    .nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.hamburger-menu {
  padding: 0;
  margin-top: 8px;
  cursor: pointer;
  .icon-bar {
    display: block;
    width: 34px;
    height: 3px;
    background: $blue;
    position: relative;
    margin-left: auto;
    +.icon-bar {
      margin-top: 7px;
    }
  }
  &.is-open-menu {
    .icon-bar {
      &:first-child {
        transform: rotate(45deg);
        transform-origin: top left;
        top: 5px;
        left: 2px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-46deg);
        transform-origin: left top;
        top: 9px;
      }
    }
  }
}

.nav-item-arrows {
  @include position( absolute, 0, -8px, null, null, 1);
  color: inherit;
  font-size: 1em;
  padding: 16px;
  cursor: pointer;
}

@include media-breakpoint-down(xl) {
  .is-open-child {
    .main-menu-dropdown {
      display: block;
    }
    >.nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
  .main-menu {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .3s;
    display: block;
    width: 100%;
    .main-menu-ul {
      width: 100%;
    }
    li {
      //border-top: 1px solid $boder-level1;
    }
    &.is-open-menu {
      max-height: 2000px;
      visibility: visible;
      overflow: hidden;
      transition: .3s;
    }
  }
}
