.social {
  display: flex;
  a {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    font-size: rem(14);
    color: inherit;
    text-align: center;
    text-decoration: none;
    background-color: $blue;
    border-radius: 50%;
    transition: .25s all;
    margin-right: 9px;
    &:hover {
      transition: .25s all;
      color: $black;
      background-color: darken($blue, 5);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
